{% extends "main.html" %}
{% block content %}
{% if userID %}
{% with userID = userID %}
{% include "header.html" %}
{% endwith %}
{% else %}
{% include "header.html" %}
{% endif %}

<section class="form-page">
	<h1> Delete Item </h1>
	<title>Delete Item</title>
	<!--<form action = "{{ url_for('addItem', name = name, description = description, category_id = category_id)}}" method = 'post'>-->
		<form action = "{{ url_for('deleteItem', itemName = item.name) }}" method = 'post'>	
			<p>Are you sure you want to delete {{item.name}}?</h1></p>
			<input type='submit' value='Delete'> 
			<a href = "{{url_for('showCatalog')}}" >Cancel</a> 
		</form>
	</section>
	{% endblock %}