{% extends "main.html" %}
{% block content %}
{% if userID %}
{% with userID = userID %}
{% include "header.html" %}
{% endwith %}
{% else %}
{% include "header.html" %}
{% endif %}


<section class="form-page">
	<h1> New Catalog Item </h1>
	<title>New Catalog Item</title>
		<form action = "{{ url_for('addItem')}}" method = 'post'>	
			<p>Name:</p>
			<input type = 'text' size = '30' name = 'name'>
			<br>
			<p>Description:</p>
			<input type = 'text' size = '30' name = 'description'>
			<br>
			<p>Category:</p>
			<select name = 'cat_id'>
				{% for c in categories %}
				<option value = '{{c.id}}'>{{c.name}}</option>
				{% endfor %}
			</select>
			<br>
			<br>
			<input type = 'submit' value='Create'>
			<a href = "{{url_for('showCatalog')}}" >Cancel</a> 
		</form>
	</section>
	{% endblock %}